<template>
  <div class="nav">
    <div class="nav--logo">
      <img src= "../assets/Vector.png" />
      <img class="ml-4" src="../assets/LOGOIPSUM.png" />
    </div>
    <div class="nav--list">
      <div 
        v-for="(item, index) in navList"
        :key="index">
      <span 
        class="nav--item"
        :class="{'active': item.id === activeNav}"
        @click="activeNav=item.id"> {{ item.name }} </span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        navList: [{
          id: 1,
          name: 'Dasboard'
        }, {
          id: 2,
          name: 'Help'
        }, {
          id: 3,
          name: 'Events'
        }, {
          id: 4,
          name: 'Logout'
        }],
        activeNav: 3
      }
    }
  }
</script>
<style>
.nav {
  background-color: #5C524D;
  display: flex;
  align-items: center;
  padding: 27px 130px;
  justify-content: space-between;
}
.nav--logo {
  display: flex;
  align-items: center;
}
.nav--list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav--item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color:  rgba(255, 255, 255, 0.75);;
  font-family: "Almarai";
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  cursor: pointer;
}
.active {
  border-bottom: 10px solid #86EAAE;
  padding-bottom: 30px;
  color: white;
}
.ml-4 {
  margin-left: 16px;
}
</style>